<header class="main-header">
    <div class="container">
        <div class="logo">
            <h1>ajenaration</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/" class="<%= active === 'home' ? 'active' : '' %>">Home</a></li>
                <li><a href="/about" class="<%= active === 'about' ? 'active' : '' %>">About</a></li>
                <li><a href="/projects" class="<%= active === 'projects' ? 'active' : '' %>">Projects</a></li>
                <li><a href="/blog" class="<%= active === 'blog' ? 'active' : '' %>">Blog</a></li>
                <li><a href="/contact" class="<%= active === 'contact' ? 'active' : '' %>">Contact</a></li>
            </ul>
        </nav>
        <a href="/ayana-n-resume.pdf" class="btn secondary-btn view-resume-button" target="_blank" rel="noopener">View Resume</a>
        <a href="/ayana-n-resume.pdf" class="btn primary-btn download-button" download>Download Resume</a>
    </div>
</header>